{% extends 'mainpage/index.html' %}
{% block maincol %}
     <div class="box">
<h1>Офисный переезд Москва и область КАЧЕСТВЕННО</h1>
            {% for s in sub %}

              <p>{{s.sub1|safe}}</p>

			<div class="h5">Цены на переезд офиса</div>

			<table class="tariffs" cellpadding="8" cellspacing="2" border="0" width="100%">
			<tbody>
			<tr class="odd">
				{% for table in tables %}
			<td width="210" height="60px">{{ table.name }}/td>
			<td class="light" style="width: 20%">от {{ table.price }} руб</td>
			<td style="width:60px">Рассчитать</td>
			</tr>
			</tbody>
			</table>
<div class="slider_wrapper">
<ul class="carousel">
  {% for img in photos %}
  <li><img src="{{img.photo.url}}"/></li>
    {% endfor %}
</ul>
</div>
    </div>
{% endblock %}
 <p>{{s.sub2|safe}}
 	{% endfor%}
    </div>
{% block ExtraJS %}
<script>
$('.carousel').bxSlider({
  auto: true,
  autoControls: true
});
</script>
{% endblock %}


