{% extends 'mainpage/index.html' %}
{% block maincol %}
     <div class="box">
<h1>Офисный переезд Москва и область КАЧЕСТВЕННО</h1>





              <p>Что значит – удачно перевезти офис? Критериев не так уж и много:</p>

			<ul class="check_ul">
				<li>Вы «втиснулись» в бюджет,</li>
				<li>потратили минимум рабочего времени,</li>
				<li>сохранили все нужные архивы</li>
				<li>… и приступили к работе сразу после переселения – без всякой уборки и расстановки вещей.</li>
			</ul>

			<p align="center" style="margin: 0 0 30px 0;"><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" data-auto_name="Переезд офиса" data-auto_title="Рассчитаем стоимость переезда Вашего офиса?" data-btn_title="Отправить!" class="button big fancytext">Рассчитаем стоимость переезда Вашего офиса?</a></p>

                <div class="touchcarousel photos-wrapper" style="overflow: visible;">
                    <div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container photos" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-175px, 0px, 0px); width: 1050px;">
                        <li class="touchcarousel-item">
                            <a href="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_31.jpg" class="fancybox" data-fancybox-group="gallery1">
                                <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_31.jpg">
                            </a>
                        </li>
                        <li class="touchcarousel-item">
                            <a href="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_32.jpg" class="fancybox" data-fancybox-group="gallery1">
                                <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_32.jpg">
                            </a>
                        </li>
                        <li class="touchcarousel-item">
                            <a href="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_33.jpg" class="fancybox" data-fancybox-group="gallery1">
                                <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_33.jpg">
                            </a>
                        </li>
                        <li class="touchcarousel-item">
                            <a href="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_34.jpg" class="fancybox" data-fancybox-group="gallery1">
                                <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_34.jpg">
                            </a>
                        </li>
                        <li class="touchcarousel-item">
                            <a href="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_35.jpg" class="fancybox" data-fancybox-group="gallery1">
                                <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_35.jpg">
                            </a>
                        </li>
                        <li class="touchcarousel-item last">
                            <a href="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_36.jpg" class="fancybox" data-fancybox-group="gallery1">
                                <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/pic_36.jpg">
                            </a>
                        </li>
                    </ul></div><a href="http://www.sferatrans.ru/pereezd-ofisa/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/pereezd-ofisa/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
                <div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 266px; -webkit-transform: translate3d(87px, 0px, 0px);"></div></div></div>


		<p>Многие руководители во время переселения предприятия поручают своим подчиненным и погрузку-переноску мебели и техники.</p>

		<p>Но если оценить «сухую» экономическую эффективность – результат будет неожиданным. Офисный переезд с грузчиками – это всегда множество однообразных действий: разобрать-упаковать-подписать, разобрать-упаковать-подписать… и так 20 раз подряд. Стоит ли ради этой монотонной работы отвлекать сотрудников от более важных дел? Нужно ли «забивать гвозди микроскопом» и поручать ценным специалистам по маркетингу перенос стульев и маркировку коробок? И ускорится ли благодаря этому весь переезд в целом?</p>


			<div class="h5">Цены на переезд компании </div>

			<p>* В стоимость входят: мебельный фургон и необходимое кол-во грузчиков. При необходимости для оценки бесплатно выезжает оценщик.</p>

			<table class="tariffs" cellpadding="8" cellspacing="2" border="0" width="100%">
			<tbody>
			<tr class="odd">
			<td width="210">От 1 до 5 рабочих мест</td>
			<td class="light">от 4000 руб. до 14000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="1">Рассчитать</a></td>
			</tr>
			<tr>
			<td>От 5 до 10 рабочих мест</td>
			<td class="light">от 10000 руб. до 25000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="2">Рассчитать</a></td>
			</tr>
			<tr class="odd">
			<td>От 10 до 15 рабочих мест</td>
			<td class="light">от 15000 руб. до 35000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="3">Рассчитать</a></td>
			</tr>
			<tr>
			<td>От 15 до 25 рабочих мест</td>
			<td class="light">от 25000 руб. до 50000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="4">Рассчитать</a></td>
			</tr>
			<tr class="odd">
			<td>От 25 до 35 рабочих мест</td>
			<td class="light">от 50000 руб. до 65000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="5">Рассчитать</a></td>
			</tr>
			</tbody>
			</table>

			<p align="center" style="margin: 20px 0 30px 0;"><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" data-auto_name="Переезд офиса" data-auto_title="Заказать офисный переезд" data-btn_title="Отправить!" class="button big fancytext">Заказать офисный переезд</a></p>

			<div class="h5">Скажете, такого не бывает? Но каждый офисный переезд под ключ в «СфераТранс» - именно такой!</div>

			<div class="digit_b">
				<div class="digit">1</div>
				<div class="digit_h">Вы экономите время и деньги</div>
				Наши переезды офисов под ключ действительно рентабельны: мы аккуратно и быстро перевозим вещи, вы экономите бюджет. Деньги не вылетают в трубу, а работают на бизнес!
			</div>

			<div class="digit_b">
				<div class="digit">2</div>
				<div class="digit_h">Ваша мебель застрахована</div>
				На ваших столах, стеллажах и креслах – ни единой царапины! Мы умеем обращаться и с типовой «икеевской», и с дорогой дизайнерской мебелью.
			</div>

			<div class="digit_b">
				<div class="digit">3</div>
				<div class="digit_h">Окончательный расчет до начала переезда</div>
                                Вы видите окончательные расценки ДО подписания договора – и можете внести коррективы, если тарифы не впишутся в бюджет.
			</div>

			<div class="digit_b">
				<div class="digit">4</div>
				<div class="digit_h">Выполняем работу от и до!</div>
				Вам ничего не придется делать. Мы возьмем на себя всю работу по переезду – просчитаем расценки, разберем и упакуем мебель, спустим и погрузим тяжелые сейфы, уберем мусор…
			</div>

			<div class="digit_b">
				<div class="digit">5</div>
				<div class="digit_h">Сделаем так, как нужно Вам</div>
				Мебель в новом офисе будет стоять «как раньше» или «как нужно». Переезжайте и сразу же приступайте к работе в идеальной комфортной обстановке!
			</div>

			<p>«СфераТранс» - нам доверяют тысячи довольных клиентов, среди которых – MaxFactor и «АльфаКлуб». Присоединяйтесь и вы!</p>

			<p align="center" style="margin: 20px 0 30px 0;"><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" data-auto_name="Переезд офиса" data-auto_title="Желаете получить бесплатную консультацию?" data-btn_title="Отправить!" class="button big fancytext">Желаете получить бесплатную консультацию?</a></p>

			<div class="h5">«Аккуратно» при переезде офиса в Москве обозначает «качественно». И в том, и в другом случае подразумевается несколько главных принципов:</div>

			<ul class="check_ul">
				<li>у переезда офисной мебели тоже есть своя технология, ее необходимо знать и соблюдать;</li>
				<li>с предметами интерьера нужно обращаться бережно;</li>
				<li>вежливость и пунктуальность при проведении переезда офиса в Москве за недорого приносит только пользу.</li>
			</ul>

<div class="h5">Среди наших клиентов</div>

<div class="touchcarousel clients-wrapper flat_page" style="overflow: visible;">
        <div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container clients" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-175px, 0px, 0px); width: 1925px;">

            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo2.jpg">
                </a>
                <div class="tip">MaXFactor (МаксФактор)</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo3.jpg">
                </a>
                <div class="tip">Российский Государственный Гуманитарный Университет</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo4.jpg">
                </a>
                <div class="tip">АльфаКлуб (АльфаБанк)</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo5.jpg">
                </a>
                <div class="tip">Дирекция всемирных боевых искусств</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo6.jpg">
                </a>
                <div class="tip">Московский Туристический Флот</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo1.jpg">
                </a>
                <div class="tip">ЗАО "Цезарь Сателлит"</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_logo7.jpg">
                </a>
                <div class="tip">ФГУП Медтехника</div>
            </li>

            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_fototeh.jpg">
                </a>
                <div class="tip">Компания «ФОТОТЕХ»</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_kvmrent.jpg">
                </a>
                <div class="tip">ООО "КВМ"</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_metasyntez.jpg">
                </a>
                <div class="tip">ЗАО "МетаСинтез"</div>
            </li>
            <li class="hasTip touchcarousel-item last">
                <a href="http://www.sferatrans.ru/pereezd-ofisa/#">
                    <img src="./Переезд ОФИСА недорого Москва! Офисный переезд компании под ключ в Москве!_files/clients_siesta.jpg">
                </a>
                <div class="tip">ООО "Сиеста"</div>
            </li>
        </ul></div><a href="http://www.sferatrans.ru/pereezd-ofisa/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/pereezd-ofisa/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 145px; -webkit-transform: translate3d(48px, 0px, 0px);"></div></div></div>

			<p>Еще одно важное качество – это оперативность действий. К новому рабочему месту человек привыкает несколько дней. Вот почему так важно провести переезд компании в сжатые сроки – ведь вашим сотрудникам еще понадобится время, чтобы освоиться. Несомненно, бизнес на новом месте пойдет еще лучше, чем прежде. Но для того, чтобы это произошло поскорее, надо начать работу как можно раньше. Что – или, точнее, кто – способен в этом помочь? Как ускорить достаточно сложный и масштабный процесс? Мы знаем ответ!</p>

<div class="h5">Наши документы</div>

<div class="touchcarousel clients-wrapper docs-wrapper flat_page" style="overflow: visible;">
<div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container docs docslider" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-175px, 0px, 0px); width: 1400px;">

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/dogovor-of.doc" class="ico-doc">Скачать договор на переезд офиса</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/dogovor-gruz.doc" class="ico-doc">Скачать договор на перевозку груза</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/pereezd-kv.doc" class="ico-doc">Скачать договор на переезд квартиры</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/akt.xlsx" class="ico-xls">Скачать акт и счет-фактуру</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/card.doc" class="ico-doc">Скачать карточку с реквизитами</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/price-all.xls" class="ico-xls">Скачать прайс-лист на грузовые перевозки</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/price-tehnika.xls" class="ico-xls">Скачать прайс-лист на спецтехнику</a></li>

<li class="touchcarousel-item last"><a href="http://www.sferatrans.ru/uploads/prices/price-uslugi.xls" class="ico-xls">Скачать прайс-лист на переезды, грузчиков</a></li>

</ul></div><a href="http://www.sferatrans.ru/pereezd-ofisa/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/pereezd-ofisa/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 200px; -webkit-transform: translate3d(65px, 0px, 0px);"></div></div></div>

			<p>Специалисты компании «Сфератранс» организуют офисный переезд по Москве и области, который не обернется убытками и не станет мучительным наказанием для всех сотрудников вашего предприятия.</p>

			<ul class="check_ul">
				<li>Мы строим графики согласно требованиям заказчика (выполняем работы в любое время суток).</li>
				<li>При перевозке вещей мы постоянно следим за ситуацией на дорогах. Благодаря этому мы можем действовать по ситуации, гибко меняя маршрут.</li>
				<li>Профилактика лучше лечения – мы считаем, что убытки лучше предотвратить, чем потом компенсировать. А значит – надежная упаковка вещей, безопасное их перемещение и полный контроль за происходящим на всех этапах.</li>
			</ul>

			<p>Мы знаем, как сберечь ваше время и деньги. И вы убедитесь в этом, заказав переезд офиса в компании «Сфератранс».</p>

			<p align="center" style="margin: 0 0 30px 0;"><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" data-auto_name="Переезд офиса" data-auto_title="Желаете заказать переезд офиса?" data-btn_title="Отправить!" class="button big fancytext">Желаете заказать переезд офиса?</a></p>


            <!-- Модальное окно "Расчет стоимости офисного переезда" -->
<div id="office_moving" class="popup">
    <div class="h3">Расчет стоимости офисного переезда</div>
    <div class="calc_form">
        <p>
            <select id="office_order_office_type">
                <option value="0">Выбрать тип офисного переезда:</option>
                <option value="1">От 1 до 5 рабочих мест</option>
                <option value="2">От 5 до 10 рабочих мест</option>
                <option value="3">От 10 до 15 рабочих мест</option>
                <option value="4">От 15 до 25 рабочих мест</option>
                <option value="5">От 25 до 35 рабочих мест</option>
            </select>
        </p>


        <p>
            <input id="office_order_name" type="text" placeholder="Ваше имя">
        </p>

        <p>
            <input id="office_order_phone" type="text" placeholder="Контактный телефон">
        </p>

        <p>
            <input id="office_order_from" class="from_city" type="text" placeholder="Откуда" rel="from_city">
        </p>

        <p>
            <input id="office_order_to" class="to_city" type="text" placeholder="Куда" rel="to_city">
        </p>

        <div style="text-align:center;">
            <input id="office_order_submit_button" type="submit" class="button" value="Рассчитать стоимость переезда" onclick="yaCounter25323134.reachGoal(&#39;officeraschet&#39;); return true;">
        </div>
    </div>
</div>
<!-- /Модальное окно "Расчет стоимости офисного переезда" -->

    </div>
{% endblock %}


