{% extends 'mainpage/index.html' %}
{% block maincol %}
     <div class="box">
<h1>Офисный переезд Москва и область КАЧЕСТВЕННО</h1>

              <p>Что значит – удачно перевезти офис? Критериев не так уж и много:</p>

			<ul class="check_ul">
				<li>Вы «втиснулись» в бюджет,</li>
				<li>потратили минимум рабочего времени,</li>
				<li>сохранили все нужные архивы</li>
				<li>… и приступили к работе сразу после переселения – без всякой уборки и расстановки вещей.</li>
			</ul>

			<div class="h5">Цены на переезд компании </div>

			<p>* В стоимость входят: мебельный фургон и необходимое кол-во грузчиков. При необходимости для оценки бесплатно выезжает оценщик.</p>

			<table class="tariffs" cellpadding="8" cellspacing="2" border="0" width="100%">
			<tbody>
			<tr class="odd">
			<td width="210">От 1 до 5 рабочих мест</td>
			<td class="light">от 4000 руб. до 14000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="1">Рассчитать</a></td>
			</tr>
			<tr>
			<td>От 5 до 10 рабочих мест</td>
			<td class="light">от 10000 руб. до 25000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="2">Рассчитать</a></td>
			</tr>
			<tr class="odd">
			<td>От 10 до 15 рабочих мест</td>
			<td class="light">от 15000 руб. до 35000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="3">Рассчитать</a></td>
			</tr>
			<tr>
			<td>От 15 до 25 рабочих мест</td>
			<td class="light">от 25000 руб. до 50000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="4">Рассчитать</a></td>
			</tr>
			<tr class="odd">
			<td>От 25 до 35 рабочих мест</td>
			<td class="light">от 50000 руб. до 65000 руб.</td>
			<td><a href="http://www.sferatrans.ru/pereezd-ofisa/#office_moving" class="button small fancytext" data-office-type="5">Рассчитать</a></td>
			</tr>
			</tbody>
			</table>


    </div>
{% endblock %}


