{% extends 'mainpage/index.html' %}
{% block maincol %}
    <div class="box">
<h1>Грузоперевозки от  «Сфератранс»</h1>
              <div class="motivators">
    <a class="m_1 page-scroll" href="http://www.sferatrans.ru/gruzoperevozki/#price_table">
        <span>Цены для нашей реальности</span>
        <span class="hover">И никаких переплат</span>
    </a>
    <a class="m_2 page-scroll" href="http://www.sferatrans.ru/gruzoperevozki/#photos">
        <span>Более 40 автомобилей</span>
        <span class="hover">И 55 проверенных водителей</span>
    </a>
    <a class="m_3 page-scroll" href="http://www.sferatrans.ru/gruzoperevozki/#advantages">
        <span>Ваш груз в надежных руках</span>
        <span class="hover">Вы платите по факту</span>
    </a>
    <br clear="all">
</div>

<p align="center" style="margin: 20px 0 30px 0;"><a href="http://www.sferatrans.ru/gruzoperevozki/#order" data-auto_name="Грузоперевозки" data-auto_title="Оформить заявку на перевозку груза" data-btn_title="Отправить!" class="button big fancytext" onclick="yaCounter25323134.reachGoal(&#39;gruzzayavka&#39;); return true;">Оформить заявку на перевозку груза</a></p>

<div class="h5">«Сфератранс» - более 12 лет перевозок по Москве и по России!</div> <p>Доставить груз к дверям получателя? За самый короткий промежуток времени? И при этом еще сэкономить? Это возможно – при обращении к мастерам своего дела!</p>
<p>Впереди глобальные перемены – <a href="http://www.sferatrans.ru/pereezd-ofisa/">места работы</a> или <a href="http://www.sferatrans.ru/pereezd-kvartiry/">жительства</a>? Наша тактика – уникальное решение для каждой ситуации! Мы в кратчайшие сроки оформим заявку и пришлем практически идеальную <a href="http://www.sferatrans.ru/uslugi-gruzchikov/">бригаду работников</a>.</p> <div class="h3">Никаких переплат за вежливость, аккуратность и ответственность!</div> <p>У вас дома есть фортепиано? Джакузи? При переезде вам понадобятся <a href="http://www.sferatrans.ru/uslugi-gruzchikov/takelazhniki/">такелажники</a>. А у нас уже есть выгодное предложение!</p>

<div class="h5">Типы грузоперевозок</div>

<div class="freight_types">

<a class="type_1" href="http://www.sferatrans.ru/gruzoperevozki/multimodal_perevoz/">Мультимодальные перевозки</a>

<a class="type_2" href="http://www.sferatrans.ru/gruzoperevozki/negabarit/">Негабаритные перевозки</a>

<a class="type_3" href="http://www.sferatrans.ru/gruzoperevozki/krupnogabarit/">Крупногабаритные грузоперевозки</a>

<a class="type_4" href="http://www.sferatrans.ru/gruzoperevozki/s-gruzchikami/">Грузоперевозки с грузчиками</a>

<a class="type_5" href="http://www.sferatrans.ru/gruzoperevozki/po-rossii/">Грузоперевозки по России</a>

<a class="type_6" href="http://www.sferatrans.ru/gruzoperevozki/po-moskve/">Грузоперевозки по Москве и области</a>

<br clear="all">
</div>

<div class="h5" id="price_table">Автопарк «Сфератранс»</div>

<p><a href="http://www.sferatrans.ru/avtopark/">Более 40 машин различных типов</a> – от маленьких скромных «каблучков» до 20-тонных еврофур. маршруты любой сложности и множество услуг на должном уровне качества. Мы умеем обходить заторы, простои, отвратительные дорожные условия и другие проблемы. Экономично и динамично!</p>

<table class="tariffs_cars" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
{% for car in cars %}
<tr>
    <td width="131">
        <a href="http://www.sferatrans.ru/avtopark/kabluk/"><img src="{{car.photo.url}}"></a>
    </td>
    <td>
        <a href="http://www.sferatrans.ru/avtopark/kabluk/">Грузоперевозки на {{ car.title }}</a>   <span>от {{ car.price }} руб.</span><br>
        <a class="button small fancytext" data-auto_id="1" href="http://www.sferatrans.ru/gruzoperevozki/#calc">Рассчитать стоимость онлайн!</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<p>Примерно 50% нашей техники используется <a href="http://www.sferatrans.ru/gruzoperevozki/avto/">для городских и пригородных перевозок</a>. Мы предоставляем заказчикам всю необходимую информацию об автомобилях, а также актуальные расценки на аренду грузовиков. Детали заказа той или иной машины можно в любой момент обсудить с нашим консультантом в режиме реального времени.</p>

<p>Также у наших клиентов есть возможность заказывать по адекватным тарифам <a href="http://www.sferatrans.ru/avtopark/krany/">спецтехнику</a>!</p>

    <div class="touchcarousel photos-wrapper" id="photos" style="overflow: visible;">
        <div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container photos" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-101px, 0px, 0px); width: 1050px;">
            <li class="touchcarousel-item">
                <a href="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_51.jpg" class="fancybox" data-fancybox-group="gallery1">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_51.jpg">
                </a>
            </li>
            <li class="touchcarousel-item">
                <a href="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_52.jpg" class="fancybox" data-fancybox-group="gallery1">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_52.jpg">
                </a>
            </li>
            <li class="touchcarousel-item">
                <a href="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_53.jpg" class="fancybox" data-fancybox-group="gallery1">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_53.jpg">
                </a>
            </li>
            <li class="touchcarousel-item">
                <a href="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_54.jpg" class="fancybox" data-fancybox-group="gallery1">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_54.jpg">
                </a>
            </li>
            <li class="touchcarousel-item">
                <a href="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_55.jpg" class="fancybox" data-fancybox-group="gallery1">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_55.jpg">
                </a>
            </li>
            <li class="touchcarousel-item last">
                <a href="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_56.jpg" class="fancybox" data-fancybox-group="gallery1">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/pic_56.jpg">
                </a>
            </li>
        </ul></div><a href="http://www.sferatrans.ru/gruzoperevozki/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/gruzoperevozki/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
    <div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 266px; -webkit-transform: translate3d(50px, 0px, 0px);"></div></div></div>

<div class="h5" id="advantages">Эффективные меры предосторожности - против любых форс-мажоров!</div>

<div class="digit_b">
    <div class="digit">1</div>
    <div class="digit_h">Ваш груз застрахован</div>
    Страхование груза – залог вашего спокойствия. Убытки компенсируются в любом случае!
</div>

<div class="digit_b">
    <div class="digit">2</div>
    <div class="digit_h">Вы знаете где сейчас Ваш груз</div>
    Контроль за транспортом с помощью спутниковой навигации
</div>

<div class="digit_b">
    <div class="digit">3</div>
    <div class="digit_h">Охрана груза</div>
                    При необходимости мы организуем охрану, в том числе вооруженную
</div>

<p>А самое главное - наши клиенты знают, что мы не подведем и на нас можно положиться.. на все 100%.</p>

<p align="center" style="margin: 20px 0 30px 0;"><a href="http://www.sferatrans.ru/gruzoperevozki/#order" data-auto_name="Грузоперевозки" data-auto_title="Получить бесплатную консультацию" data-btn_title="Отправить!" class="button big fancytext" onclick="yaCounter25323134.reachGoal(&#39;gruzzayavka&#39;); return true;">Получить бесплатную консультацию</a></p>

<div class="h5">Среди наших клиентов</div>

<div class="touchcarousel clients-wrapper flat_page" style="overflow: visible;">
        <div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container clients" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-99px, 0px, 0px); width: 1925px;">

            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo2.jpg">
                </a>
                <div class="tip">MaXFactor (МаксФактор)</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo3.jpg">
                </a>
                <div class="tip">Российский Государственный Гуманитарный Университет</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo4.jpg">
                </a>
                <div class="tip">АльфаКлуб (АльфаБанк)</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo5.jpg">
                </a>
                <div class="tip">Дирекция всемирных боевых искусств</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo6.jpg">
                </a>
                <div class="tip">Московский Туристический Флот</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo1.jpg">
                </a>
                <div class="tip">ЗАО "Цезарь Сателлит"</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_logo7.jpg">
                </a>
                <div class="tip">ФГУП Медтехника</div>
            </li>

            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_fototeh.jpg">
                </a>
                <div class="tip">Компания «ФОТОТЕХ»</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_kvmrent.jpg">
                </a>
                <div class="tip">ООО "КВМ"</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_metasyntez.jpg">
                </a>
                <div class="tip">ЗАО "МетаСинтез"</div>
            </li>
            <li class="hasTip touchcarousel-item last">
                <a href="http://www.sferatrans.ru/gruzoperevozki/#">
                    <img src="./«Сфератранс» - более 12 лет перевозок по Москве и по России_files/clients_siesta.jpg">
                </a>
                <div class="tip">ООО "Сиеста"</div>
            </li>
        </ul></div><a href="http://www.sferatrans.ru/gruzoperevozki/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/gruzoperevozki/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 145px; -webkit-transform: translate3d(27px, 0px, 0px);"></div></div></div>

<div class="h5">Транспортная компания СфераТранс это</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Только проверенная техника</div>
    и только лучшие специалисты!
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Безупречный сервис!</div>
    Ваши <a href="http://www.sferatrans.ru/gruzoperevozki/po-moskve/">перевозки по Москве и области</a> – гарантированно точно в срок.
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Удобство</div>
                    У нас можно заказать весь комплекс сопутствующих услуг (<a href="http://www.sferatrans.ru/pereezd/">переезды</a>, <a href="http://www.sferatrans.ru/perevozka-mebeli/">доставка мебели</a>, <a href="http://www.sferatrans.ru/takelazhnye-raboty/">такелажные работы</a> и.т.д.)
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Всё под контролем!</div>
    Все наши автомобили оборудованы системой спутникого слежения.
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Гарантируем результат!</div>
                    Отвечаем на все 100% за Ваш груз.
</div>

<div class="h5">Наши документы</div>

<div class="touchcarousel clients-wrapper docs-wrapper flat_page" style="overflow: visible;">
<div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container docs docslider" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-95px, 0px, 0px); width: 1400px;">

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/dogovor-of.doc" class="ico-doc">Скачать договор на переезд офиса</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/dogovor-gruz.doc" class="ico-doc">Скачать договор на перевозку груза</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/pereezd-kv.doc" class="ico-doc">Скачать договор на переезд квартиры</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/akt.xlsx" class="ico-xls">Скачать акт и счет-фактуру</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/card.doc" class="ico-doc">Скачать карточку с реквизитами</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/price-all.xls" class="ico-xls">Скачать прайс-лист на грузовые перевозки</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/price-tehnika.xls" class="ico-xls">Скачать прайс-лист на спецтехнику</a></li>

<li class="touchcarousel-item last"><a href="http://www.sferatrans.ru/uploads/prices/price-uslugi.xls" class="ico-xls">Скачать прайс-лист на переезды, грузчиков</a></li>

</ul></div><a href="http://www.sferatrans.ru/gruzoperevozki/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/gruzoperevozki/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 200px; -webkit-transform: translate3d(35px, 0px, 0px);"></div></div></div>

    </div>
{% endblock %}


