{% extends 'mainpage/index.html' %}
{% block maincol %}
   <div class="box">
<h1>Грузоперевозки {{ car.title }} по Москве и области </h1>


                    <p>&nbsp;</p>
        <div class="car-photo"><img src="{{ car.photodetail.url }}" class="border">
            <div class="car-menu">
                <a href="http://www.sferatrans.ru/uploads/images/do-500-kg-kabluk-842690.jpg" class="car-zoom fancybox">Увеличить</a>
                <a href="http://www.sferatrans.ru/avtopark/kabluk/#order" data-auto_name="Каблук (Fiat, Peugeot) до 500кг." data-auto_id="1" class="car-cart fancytext">Заказать</a>
                <a href="http://www.sferatrans.ru/avtopark/kabluk/#calc" data-auto_id="1" class="car-calc fancytext">Рассчитать</a>
            </div>
        </div>
    	<div class="car-details">
            <img src="{{ car.photochar.url }}" alt="">
            <a href="http://www.sferatrans.ru/avtopark/kabluk/#car-details" class="local-link"><span>Подробные характеристики</span></a>
    	</div>

        <p class="clr"></p>
        <p>&nbsp;</p>



        <p align="center"><a href="http://www.sferatrans.ru/avtopark/kabluk/#order" data-auto_name="Каблук (Fiat, Peugeot) 500кг." data-auto_title="Заказать перевозку на &quot;Каблуке&quot;" data-auto_id="1" class="button big primary fancytext">Заказать</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a data-auto_id="1" href="http://www.sferatrans.ru/avtopark/kabluk/#calc" class="button big fancytext">Рассчитать онлайн</a></p>

<a name="car-details"></a>
    	<div class="h3">Тарифы на грузоперевозки</div>
<p>Трудно найти более удобный развозной автомобиль для поездок с частыми парковками, погрузками и разгрузками в городской тесноте и плотном транспортном потоке.</p>
    	<table width="100%" border="0" cellspacing="2" cellpadding="8" class="tariffs">
    	  <tbody><tr class="odd">
    	    <th>По Москве</th>
    	    <td>400 руб./час</td>
  	    </tr>
    	  <tr>
    	    <th>С пропуском внутрь ТТК</th>
    	    <td>400 руб./час</td>
  	    </tr>
    	  <tr class="odd">
    	    <th>С пропуском внутрь Садового кольца</th>
    	    <td>400 руб./час</td>
  	    </tr>
    	  <tr>
    	    <th>За пределами МКАД (оплата в оба конца), за 1км</th>
    	    <td>13 руб.</td>
  	    </tr>
    	  <tr class="odd">
    	    <th>Минимальный заказ</th>
    	    <td>4 часа работы +1 час подачи</td>
  	    </tr>
    	  <tr>
    	    <th>Стоимость минимального заказа по Москве </th>
    	    <td>от 2000 руб.</td>
  	    </tr>
  	  </tbody></table>


    	<div class="h3">Характеристики</div>
<p></p><p>Если вам нужно куда-то доставить <a href="http://www.sferatrans.ru/perevozka-veschej/">личные вещи</a> или <a href="http://www.sferatrans.ru/perevozka-mebeli/stola/">пару столов</a> — для перевозки «Каблук» будет самым дешевым решением! Высота «каблука» - примерно 1.2 метра. В кузов войдет не слишком крупная бытовая техника, от 1 до 10 штук в зависимости от типа и размера: микроволновые печи, посудомоечные машины, варочные панели и т.п.</p>
<p>В «каблук» можно поместить две паллеты — длиной по 1.8 метра и шириной по 0.8 метров на паллету. Для более широких поддонов рекомендуем использовать  машины увеличенной тоннажности.</p>
<p>«Каблук» - машина для самых маленьких партий груза. Ему не нужен пропуск в районы, «закрытые» для грузовых авто. Его можно припарковать там, где пространство ограничено и более крупные авто туда уже не заедут. Ему требуется минимум места для разворота и других маневров, для погрузки и разгрузки во дворах.</p>
<p>Все это делает машину «Каблучок»  отличным городским <a href="http://www.sferatrans.ru/gruzovoe-taksi/">грузовым такси</a> для микропартий товара.</p>
<p>Заказать «каблук» можно по телефону  8 (499) 705-77-91, 8 (495) 642-58-08.</p><p></p>
    	<table width="100%" border="0" cellspacing="2" cellpadding="8" class="tariffs">
    	  <tbody><tr class="odd">
    	    <th>Грузоподъемность автомобиля</th>
    	    <td>500 кг</td>
  	    </tr>
    	  <tr>
    	    <th>Объем грузового отсека  	      </th>
    	    <td>3,4 м куб</td>
  	    </tr>
    	  <tr class="odd">
    	    <th>Тип кузовного отсека </th>
    	    <td>2 шт.</td>
  	    </tr>
    	  <tr>
    	    <th>Габариты кузова (Д х Ш х В)  	      </th>
    	    <td>1.80 м х 1.60 м х 1.20 м</td>
  	    </tr>
    	  <tr class="odd">
    	    <th>Количество пассажиров</th>
    	    <td>1 чел.</td>
  	    </tr>
  	  </tbody></table>
    	<p align="center"><a href="http://www.sferatrans.ru/avtopark/kabluk/#order" data-auto_name="Каблук (Fiat, Peugeot) до 500кг." class="button big fancytext">Заказать</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.sferatrans.ru/avtopark/kabluk/#calc" data-auto_id="1" class="button big fancytext">Рассчитать онлайн</a></p>
    	<p>&nbsp;</p>




</div>


   {% endblock %}