{% extends 'mainpage/index.html' %}
{% block maincol %}
{% load staticfiles %}
    <div class="box">
<h1>Грузоперевозки от  «Сфератранс»</h1>
<p> {{sub.sub1}}
<div class="h5" id="price_table">Автопарк «Сфератранс»</div>

<p><a href="http://www.sferatrans.ru/avtopark/">Более 40 машин различных типов</a> – от маленьких скромных «каблучков» до 20-тонных еврофур. маршруты любой сложности и множество услуг на должном уровне качества. Мы умеем обходить заторы, простои, отвратительные дорожные условия и другие проблемы. Экономично и динамично!</p>

<table class="tariffs_cars" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
{% for car in cars %}
<tr>
    <td width="131">
        <a href="http://www.sferatrans.ru/avtopark/kabluk/"><img src="{{car.photo.url}}"></a>
    </td>
    <td>
        <a href="http://www.sferatrans.ru/avtopark/kabluk/">Грузоперевозки на {{ car.title }}</a>   <span>от {{ car.price }} руб.</span><br>
        <a class="button small fancytext" data-auto_id="1" href="http://www.sferatrans.ru/gruzoperevozki/#calc">Рассчитать стоимость онлайн!</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<p>{{sub.sub2}}</p>
<div class="slider_wrapper">
<ul class="carousel">
    {% for img in photos %}
  <li><img src="{{img.photo.url}}"/></li>
    {% endfor %}
</ul>
</div>
    </div>
{% endblock %
    </div>
{% endblock %}
{% block ExtraJS %}
<script>
$('.carousel').bxSlider({
  auto: true,
  autoControls: true
});
</script>
{% endblock %}


