{% extends 'mainpage/index.html' %}
{% load staticfiles %}
{% block CSS %}
    <link href="{% static 'mainpage/script/slick/slick.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mainpage/script/slick/slick-theme.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block JS %}
    <script type="text/javascript" src="{% static 'mainpage/script/slick/slick.min.js' %}"></script>
{% endblock %}
{% block maincol %}
    <div class="box">
<h1>Грузоперевозки</h1>
    {% for s in sub %}
<p>{{s.sub1|safe}}</p>

<div class="h5" id="price_table">Наш автопарк</div>
<table class="tariffs_cars" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
{% for car in cars %}
<tr>
    <td width="131">
        <a href="http://www.sferatrans.ru/avtopark/kabluk/"><img src="{{car.photo.url}}"></a>
    </td>
    <td>
        <a href="http://www.sferatrans.ru/avtopark/kabluk/">Грузоперевозки на {{ car.title }}</a>   <span>от {{ car.price }} руб.</span><br>
        <nav>
        <a>Рассчитать стоимость онлайн!</a>
        </nav>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<p>{{s.sub2|safe}}</p>
    {% endfor %}
<div class="slides">
    {% for img in photos %}
  <div><img src="{{img.photo.url}}"/></div>
    {% endfor %}
</div>
    </div>
{% endblock %}
{% block ExtraJS %}
<script>
 $('.slides').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true,
  autoplay: true,
  autoplaySpeed: 2000,
});
</script>
{% endblock %}


