{% extends 'mainpage/index.html' %}
{% block maincol %}
    <div class="box">
<h1>Грузоперевозки от  «Сфератранс»</h1>


<div class="h5" id="price_table">Автопарк «Сфератранс»</div>

<p><a href="http://www.sferatrans.ru/avtopark/">Более 40 машин различных типов</a> – от маленьких скромных «каблучков» до 20-тонных еврофур. маршруты любой сложности и множество услуг на должном уровне качества. Мы умеем обходить заторы, простои, отвратительные дорожные условия и другие проблемы. Экономично и динамично!</p>

<table class="tariffs_cars" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
{% for car in cars %}
<tr>
    <td width="131">
        <a href="http://www.sferatrans.ru/avtopark/kabluk/"><img src="{{car.photo.url}}"></a>
    </td>
    <td>
        <a href="http://www.sferatrans.ru/avtopark/kabluk/">Грузоперевозки на {{ car.title }}</a>   <span>от {{ car.price }} руб.</span><br>
        <a class="button small fancytext" data-auto_id="1" href="http://www.sferatrans.ru/gruzoperevozki/#calc">Рассчитать стоимость онлайн!</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="h5">Транспортная компания СфераТранс это</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Только проверенная техника</div>
    и только лучшие специалисты!
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Безупречный сервис!</div>
    Ваши <a href="http://www.sferatrans.ru/gruzoperevozki/po-moskve/">перевозки по Москве и области</a> – гарантированно точно в срок.
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Удобство</div>
                    У нас можно заказать весь комплекс сопутствующих услуг (<a href="http://www.sferatrans.ru/pereezd/">переезды</a>, <a href="http://www.sferatrans.ru/perevozka-mebeli/">доставка мебели</a>, <a href="http://www.sferatrans.ru/takelazhnye-raboty/">такелажные работы</a> и.т.д.)
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Всё под контролем!</div>
    Все наши автомобили оборудованы системой спутникого слежения.
</div>

<div class="digit_b">
    <div class="big_check"></div>
    <div class="digit_h">Гарантируем результат!</div>
                    Отвечаем на все 100% за Ваш груз.
</div>

    </div>
{% endblock %}


