{% extends 'mainpage/index.html' %}
{% block maincol %}
    <div class="box">
<h1>Квартирный переезд недорого по Москве и области</h1>





              <p>Сколько времени занимает квартирный переезд? Давайте посчитаем. Пара дней, чтобы уложить одежду и книги. Три дня, чтобы разобрать и упаковать мебель. Еще день, чтобы найти грузовик и день на сам переезд…. Итого неделя. Неделя, потраченная впустую!</p>

<div class="h5">А ведь можно провести квартирный переезд за несколько часов!</div>

<p align="center" style="margin: 0 0 30px 0; background: url(images/btn_arrow.png) no-repeat 40px 0;"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" data-auto_name="Квартирный переезд" data-auto_title="Оформить заявку на квартирный переезд" data-btn_title="Отправить заявку!" class="button big fancytext">Рассчитать стоимость услуги!</a></p>


<div class="touchcarousel photos-wrapper" style="overflow: visible;">
<div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container photos" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-175px, 0px, 0px); width: 1050px;">
<li class="touchcarousel-item">
    <a href="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_41.jpg" class="fancybox" data-fancybox-group="gallery1">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_41.jpg">
    </a>
</li>
<li class="touchcarousel-item">
    <a href="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_22.jpg" class="fancybox" data-fancybox-group="gallery1">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_22.jpg">
    </a>
</li>
<li class="touchcarousel-item">
    <a href="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_43.jpg" class="fancybox" data-fancybox-group="gallery1">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_43.jpg">
    </a>
</li>
<li class="touchcarousel-item">
    <a href="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_44.jpg">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_44.jpg">
    </a>
</li>
<li class="touchcarousel-item">
    <a href="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_45.jpg" class="fancybox" data-fancybox-group="gallery1">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_45.jpg">
    </a>
</li>
<li class="touchcarousel-item last">
    <a href="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_46.jpg" class="fancybox" data-fancybox-group="gallery1">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/pic_46.jpg">
    </a>
</li>
</ul></div><a href="http://www.sferatrans.ru/pereezd-kvartiry/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/pereezd-kvartiry/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 266px; -webkit-transform: translate3d(87px, 0px, 0px);"></div></div></div>

<p>Не верите? Позвоните в «СферуТранс»! За 14 лет работы мы провели более 2000 квартирных переездов различной степени сложности.</p> <p>Мы перевозили скромные однушки и элитные многоуровневые квартиры. <a href="http://www.sferatrans.ru/perevozka-veschej/">Доставляли вещи</a> на соседнюю улицу и в <a href="http://www.sferatrans.ru/pereezd/po-oblasti/">дальнее Подмосковье</a>. Спускали рояли с 15-го этажа без лифта и проносили аквариумы по узким коридорам.</p>

<div class="banners-wrapper">
<div class="bx-wrapper"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 50px;"><ul class="banners" style="width: 215%; position: relative; -webkit-transition-duration: 0s; transition-duration: 0s; -webkit-transform: translate3d(-660px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 620px;" class="bx-clone">
    <a href="http://www.sferatrans.ru/pereezd-kvartiry/#" onclick="yaCounter25323134.reachGoal(&#39;flataction&#39;); return true;">
<img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/tag_icon.png" style="border: none; position: absolute; margin: -10px 0 0 30px;">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/banner_1.jpg">
    </a>
</li>
<li style="float: left; list-style: none; position: relative; width: 620px;">
    <a href="http://www.sferatrans.ru/pereezd-kvartiry/#" onclick="yaCounter25323134.reachGoal(&#39;flataction&#39;); return true;">
<img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/tag_icon.png" style="border: none; position: absolute; margin: -10px 0 0 30px;">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/banner_1.jpg">
    </a>
</li>
<!--
<li>
    <a href="#" onclick="yaCounter25323134.reachGoal('flataction'); return true;">
<img src="/images/tag_icon.png" style="border: none; position: absolute; margin: -10px 0 0 30px;" />
        <img src="/images/pereezd-kvartiry/banner_1.jpg" />
    </a>
</li>
-->
<li style="float: left; list-style: none; position: relative; width: 620px;" class="bx-clone">
    <a href="http://www.sferatrans.ru/pereezd-kvartiry/#" onclick="yaCounter25323134.reachGoal(&#39;flataction&#39;); return true;">
<img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/tag_icon.png" style="border: none; position: absolute; margin: -10px 0 0 30px;">
        <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/banner_1.jpg">
    </a>
</li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>
</div>

<div class="h5">Цена на квартирный переезд</div>

<p>* Обычно на проведение квартирного переезда выезжают 2 или 4 специалиста.</p>

<table class="tariffs" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
<tr class="odd">
<td width="255">Однокомнатная квартира<br>(Автомобиль и 2 грузчика)</td>
<td class="light">от 3900 руб.<br>
  до 20000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td width="120"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="1" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr>
<td>Двухкомнатная квартира<br>(Автомобиль и 2 грузчика)</td>
<td class="light">от 6900 руб.<br>
  до 30000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="2" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr class="odd">
<td>Трехкомнатная квартира<br>(Автомобиль и 2 или 4 грузчика)</td>
<td class="light">от 15000 руб.<br>до 35000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="3" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr>
<td>Многокомнатная квартира<br>(Автомобиль и 4 грузчика)</td>
<td class="light">от 25000 руб.<br>
до 80000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="4" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr class="odd">
<td>Пентхаус, таунхаус, коттедж <br>
  (по результатам оценки)</td>
<td class="light">Оценка бесплатно<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="5" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
</tbody>
</table>

<p align="center" style="margin: 20px 0 30px 0;"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" data-auto_name="Квартирный переезд" data-auto_title="Рассчитать цену на квартирный переезд" data-btn_title="Отправить!" class="button big fancytext">Рассчитать стоимость переезда Вашей квартиры?</a></p>

<p>Мы не делим клиентов на тех, с чьими вещами можно обходиться небрежно, и тех, кого необходимо обслуживать «по высшему разряду». И раритетный фарфор, и серийные кровати равно нуждаются в деликатном обращении. Стандарты качества должны быть одинаковы для всех. Именно по такому принципу мы работаем.</p>

<div id="advantages" class="h5">Почему же наши переезды проходят идеально?</div>

<div class="digit_b">
<div class="digit">1</div>
<div class="digit_h">Мы знаем о квартирных переездах все</div>
А значит, вам не нужно тратить деньги на специалистов со стороны – <a href="http://www.sferatrans.ru/uslugi-gruzchikov/takelazhniki/">такелажников</a>, мебельщиков, упаковщиков…
</div>

<div class="digit_b">
<div class="digit">2</div>
<div class="digit_h">Наши расчеты понятны и честны</div>
– вы видите, сколько и за какие услуги платите. Если окончательная цена покажется слишком высокой, мы подберем бюджетный вариант переезда.
</div>

<div class="digit_b">
<div class="digit">3</div>
<div class="digit_h">Мы беремся за любые задачи</div>
        – от переезда однокомнатной квартиры в соседний дом до перевозки элитных апартаментов в другой конец города.
</div>

<div class="digit_b">
<div class="digit">4</div>
<div class="digit_h">Ваша мебель после переезда выглядит как новая</div>
– никаких царапин, никаких грязных пятен или покосившихся полок. <a href="http://www.sferatrans.ru/perevozka-mebeli/">Она путешествует</a> в чистом <a href="http://www.sferatrans.ru/avtopark/">грузовике</a>, ее везут спокойные опытные водители, а собирают – аккуратные мебельщики.
</div>

<div class="digit_b">
<div class="digit">5</div>
<div class="digit_h">Мы всегда подаем машину вовремя</div>
– от нас вы не услышите историй о пробках, заболевших грузчиках и других чрезвычайных ситуациях. Переезд квартиры начнется в тот день и час, что прописаны в договоре – ни минутой позже!
</div>

<div class="advice_ban">
<div class="left_quote"></div>А вы знаете что ежедневно<br>
мы перевозим более 10 квартир?
<div class="right_quote"></div>
</div>

<div class="h5">Просто доверьтесь профессионалам!</div>

<p>Среди полезных советов переезжающим часто можно встретить, например, такой: «Несколько мелких коробок с вещами поместите в одну большую, чтобы они не пострадали по дороге». Но правильно ли это? Ведь у каждой тары есть ограничения по вместимости. А если уж в пути что-то случится – обеспечит ли крупный короб столь надежную защиту? И насколько соответствует действительности такая рекомендация: «Блюдца и тарелки нужно перевозить в стопке, обернув каждое чем-то мягким»? Как ни странно, именно в таком положении посуда наиболее уязвима – при ударе она может треснуть. Стоит ли при подготовке к переселению опираться на непроверенные утверждения?</p>

<p align="center" style="margin: 20px 0 30px 0; background: url(images/btn_arrow.png) no-repeat 60px 0;"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" data-auto_name="Квартирный переезд" data-auto_title="Получить бесплатную консультацию" data-btn_title="Отправить!" class="button big fancytext">Получить бесплатную консультацию</a></p>

<p>Помните, что самые затейливые рекомендации – это лишь теория. На практике все может оказаться совершенно по-другому. Необходимый вам упаковочный материал вдруг станет сложно отыскать в продаже, и вы будете долго сомневаться – чем же его лучше заменить? Нередко встречаются и ошибки в расчетах: полиэтиленовой пленки приобрели слишком мало, и на любимое кресло с мягкой обивкой этого количества не хватает… А всего лишь нужно было учитывать коэффициент растяжения и не забывать, что у кресла тоже есть подлокотники. По статистике, при самостоятельном переезде большинство проблем возникает именно из-за таких мелочей.</p>


<div class="h5">Среди наших клиентов</div>

<div class="touchcarousel clients-wrapper flat_page" style="overflow: visible;">
        <div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container clients" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(-1390px, 0px, 0px); width: 1925px;">

            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo2.jpg">
                </a>
                <div class="tip">MaXFactor (МаксФактор)</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo3.jpg">
                </a>
                <div class="tip">Российский Государственный Гуманитарный Университет</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo4.jpg">
                </a>
                <div class="tip">АльфаКлуб (АльфаБанк)</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo5.jpg">
                </a>
                <div class="tip">Дирекция всемирных боевых искусств</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo6.jpg">
                </a>
                <div class="tip">Московский Туристический Флот</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo1.jpg">
                </a>
                <div class="tip">ЗАО "Цезарь Сателлит"</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_logo7.jpg">
                </a>
                <div class="tip">ФГУП Медтехника</div>
            </li>

            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_fototeh.jpg">
                </a>
                <div class="tip">Компания «ФОТОТЕХ»</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_kvmrent.jpg">
                </a>
                <div class="tip">ООО "КВМ"</div>
            </li>
            <li class="hasTip touchcarousel-item">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_metasyntez.jpg">
                </a>
                <div class="tip">ЗАО "МетаСинтез"</div>
            </li>
            <li class="hasTip touchcarousel-item last">
                <a href="http://www.sferatrans.ru/pereezd-kvartiry/#">
                    <img src="./Переезд квартиры НЕДОРОГО Москва! Квартирный переезд с грузчиками по Москве и области._files/clients_siesta.jpg">
                </a>
                <div class="tip">ООО "Сиеста"</div>
            </li>
        </ul></div><a href="http://www.sferatrans.ru/pereezd-kvartiry/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/pereezd-kvartiry/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 145px; -webkit-transform: translate3d(378px, 0px, 0px);"></div></div></div>

<p>«Нельзя объять необъятное» - суть этого афоризма в полной мере понимаешь именно при попытке охватить и удержать в поле зрения множество небольших деталей. Но ведь у тех, кого называют муверами, это получается легко и непринужденно! Почему же? Все дело в том, что у переезда есть своя особая логика. Профессионалы сталкиваются с ней каждый день. Войдя в квартиру, специалист сразу же, автоматически, отмечает, на что обратить внимание при работе, что надо будет сделать в первую очередь, а что – потом… При этом он может одновременно отвечать на ваши вопросы или объяснять, из чего складывается цена будущего переезда. План действий же появится перед вами уже готовым. Вполне возможно, что иметь дело с теорией вам даже не придется. Работу профессионалов вы увидите уже на практике.</p>

<p>Давать советы больше всего любят люди, которые не переезжали ни разу в жизни. Профессионал предпочитает не размениваться по мелочам и не отвлекаться на рассуждения. Компания «СфераТранс» доказывает на практике: один звонок специалистам лучше тысячи теоретических советов!</p>

<p align="center" style="margin: 25px 0 30px 0;"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" data-auto_name="Квартирный переезд" data-auto_title="Оформить заявку на квартирный переезд" data-btn_title="Отправить!" class="button big fancytext">Оформить заявку на переезд квартиры!</a></p>

<div class="h5">Наши документы</div>

<div class="touchcarousel clients-wrapper docs-wrapper flat_page" style="overflow: visible;">
<div class="touchcarousel-wrapper grab-cursor"><ul class="touchcarousel-container docs docslider" style="-webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate3d(0px, 0px, 0px); width: 1400px;">

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/dogovor-of.doc" class="ico-doc">Скачать договор на переезд офиса</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/dogovor-gruz.doc" class="ico-doc">Скачать договор на перевозку груза</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/pereezd-kv.doc" class="ico-doc">Скачать договор на переезд квартиры</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/akt.xlsx" class="ico-xls">Скачать акт и счет-фактуру</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/card.doc" class="ico-doc">Скачать карточку с реквизитами</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/price-all.xls" class="ico-xls">Скачать прайс-лист на грузовые перевозки</a></li>

<li class="touchcarousel-item"><a href="http://www.sferatrans.ru/uploads/prices/price-tehnika.xls" class="ico-xls">Скачать прайс-лист на спецтехнику</a></li>

<li class="touchcarousel-item last"><a href="http://www.sferatrans.ru/uploads/prices/price-uslugi.xls" class="ico-xls">Скачать прайс-лист на переезды, грузчиков</a></li>

</ul></div><a href="http://www.sferatrans.ru/pereezd-kvartiry/#" class="arrow-holder left"><span class="arrow-icon left"></span></a> <a href="http://www.sferatrans.ru/pereezd-kvartiry/#" class="arrow-holder right"><span class="arrow-icon right"></span></a>
<div class="scrollbar-holder"><div class="scrollbar dark" style="opacity: 0; width: 200px; -webkit-transform: translate3d(0px, 0px, 0px);"></div></div></div>

<!-- Модальное окно для подсказки (знака вопроса) -->
<div id="why" class="popup">
   <div class="h3">От чего зависит стоимость квартирного переезда?</div>
   <ul class="check_ul_2">
      <li>От особенностей конкретной квартиры;</li>
      <li>От количества, веса и объема вещей;</li>
      <li>Необходимости упаковки предметов;</li>
      <li>Необходимости монтажа/демонтажа мебели, бытовой техники, штор, люстр итд;</li>
      <li>Наличия грузового лифта в доме;</li>
      <li>Этажности квартиры, если грузового лифта в доме нет;</li>
      <li>Необходимости перевозки тяжелых предметов;</li>
      <li>Возможности удобного подъезда к дому.</li>
  </ul>
</div>
<!-- /Модальное окно для подсказки (знака вопроса) -->

<!-- Модальное окно "Расчет стоимости квартирного переезда" -->
<div id="calc" class="popup" style="display: none;">
    <div class="h3">Расчет стоимости квартирного переезда</div>
    <div class="calc_form">
        <p>
            <select id="flat_order_flat_type">
                <option value="0">Выбрать тип переезда:</option>
                <option value="1">Однокомнатная квартира (Автомобиль и 2 грузчика)</option>
                <option value="2">Двухкомнатная квартира (Автомобиль и 2 грузчика)</option>
                <option value="3">Трехкомнатная квартира (Автомобиль и 2 или 4 грузчика)</option>
                <option value="4">Многокомнатная квартира (Автомобиль и 4 грузчика)</option>
                <option value="5">Пентхаус (по результатам оценки)</option>
            </select>
        </p>


        <p>
            <input id="flat_order_name" type="text" placeholder="Ваше имя">
        </p>

        <p>
            <input id="flat_order_phone" type="text" placeholder="Контактный телефон">
        </p>

        <p>
            <input id="flat_order_from" class="from_city" type="text" placeholder="Откуда" rel="from_city">
        </p>

        <p>
            <input id="flat_order_to" class="to_city" type="text" placeholder="Куда" rel="to_city">
        </p>

        <div style="text-align:center;">
            <input id="flat_order_submit_button" type="submit" class="button" value="Рассчитать стоимость переезда">
        </div>
    </div>
</div>
<!-- /Модальное окно "Расчет стоимости квартирного переезда" -->

    </div>
{% endblock %}


