{% extends 'mainpage/index.html' %}
{% load staticfiles %}

{% block maincol %}
    <div class="box">
<h1>Квартирный переезд недорого по Москве и области</h1>

              <p>Сколько времени занимает квартирный переезд? Давайте посчитаем. Пара дней, чтобы уложить одежду и книги. Три дня, чтобы разобрать и упаковать мебель. Еще день, чтобы найти грузовик и день на сам переезд…. Итого неделя. Неделя, потраченная впустую!</p>

<div class="h5">А ведь можно провести квартирный переезд за несколько часов!</div>


<ul class="carousel">
  <li><img src="{% static 'mainpage/img/flat1.jpg' %}"/></li>
  <li><img src="{% static 'mainpage/img/flat2.jpg' %}"/></li>
  <li><img src="{% static 'mainpage/img/flat3.jpg' %}"/></li>
</ul>

<div class="h5">Цена на квартирный переезд</div>
<p>* Обычно на проведение квартирного переезда выезжают 2 или 4 специалиста.</p>

<table class="tariffs" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
<tr class="odd">
<td width="255">Однокомнатная квартира<br>(Автомобиль и 2 грузчика)</td>
<td class="light">от 3900 руб.<br>
  до 20000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td width="120"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="1" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr>
<td>Двухкомнатная квартира<br>(Автомобиль и 2 грузчика)</td>
<td class="light">от 6900 руб.<br>
  до 30000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="2" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr class="odd">
<td>Трехкомнатная квартира<br>(Автомобиль и 2 или 4 грузчика)</td>
<td class="light">от 15000 руб.<br>до 35000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="3" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr>
<td>Многокомнатная квартира<br>(Автомобиль и 4 грузчика)</td>
<td class="light">от 25000 руб.<br>
до 80000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="4" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr class="odd">
<td>Пентхаус, таунхаус, коттедж <br>
  (по результатам оценки)</td>
<td class="light">Оценка бесплатно<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="5" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
</tbody>
</table>
    </div>
{% endblock %}
{% block ExtraJS %}
<script>
$('.carousel').bxSlider({
  adaptiveHeight: true,
  mode: 'fade'
});
</script>
{% endblock %}


