{% extends 'mainpage/index.html' %}
{% load staticfiles %}

{% block maincol %}
    <div class="box">
<h1>Квартирный переезд недорого по Москве и области</h1>
  <p>{{sub.sub1}}</p>

<div class="slider_wrapper">
<ul class="carousel">
  {% for img in photos %}
  <li><img src="{{img.photo.url}}"/></li>
    {% endfor %}
</ul>
</div>
    </div>
{% endblock %}

<div class="h5">Цена на квартирный переезд</div>
<p>* Обычно на проведение квартирного переезда выезжают 2 или 4 специалиста.</p>

<table class="tariffs" cellpadding="8" cellspacing="2" border="0" width="100%">
<tbody>
<tr class="odd">
<td width="255">Однокомнатная квартира<br>(Автомобиль и 2 грузчика)</td>
<td class="light">от 3900 руб.<br>
  до 20000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td width="120"><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="1" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr>
<td>Двухкомнатная квартира<br>(Автомобиль и 2 грузчика)</td>
<td class="light">от 6900 руб.<br>
  до 30000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="2" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr class="odd">
<td>Трехкомнатная квартира<br>(Автомобиль и 2 или 4 грузчика)</td>
<td class="light">от 15000 руб.<br>до 35000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="3" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr>
<td>Многокомнатная квартира<br>(Автомобиль и 4 грузчика)</td>
<td class="light">от 25000 руб.<br>
до 80000 руб.<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="4" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
<tr class="odd">
<td>Пентхаус, таунхаус, коттедж <br>
  (по результатам оценки)</td>
<td class="light">Оценка бесплатно<a class="price_why fancytext" href="http://www.sferatrans.ru/pereezd-kvartiry/#why">?</a></td>
<td><a href="http://www.sferatrans.ru/pereezd-kvartiry/#calc" class="button small fancytext" data-flat-type="5" onclick="yaCounter25323134.reachGoal(&#39;flatraschet&#39;); return true;">Рассчитать</a></td>
</tr>
</tbody>
</table>
    </div>

    <p>{{ sub.sub2}}</p>

{% endblock %}
{% block ExtraJS %}
<script>
$('.carousel').bxSlider({
  auto: true,
  autoControls: true
});
</script>
{% endblock %}


