{% extends 'mainpage/index.html' %}
{% block JS %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'mainpage/script/deliveryCalc.js' %}"></script>
{% endblock %}


{% block maincol %}
    <div class="box">
<div id="map"></div>
<style>
            #map {
            width: 100%;
            height: 500px;
            padding: 0;
            margin: 0;
        }
    </style>

<div id="calc" class="popup">
        <div class="h3">ОНЛАЙН калькулятор расчета стоимости перевозки</div>

        <form id="hover_calc_form" action="http://www.sferatrans.ru/calc/" method="post">

            <div class="calc_form">
                <p>

                    <select name="auto_id" id="select_fill">
                        <option value="0">Выбрать авто:</option> 

{% for car in cars %}
<option value="{{car.pricekm}}">{{car.title}}   {{car.carrying}}</option>
{% endfor %}
                    </select>
                </p>

                <p>
                            <label class="strong" id="time"></label>
                            <select name="time" id="time" style="width:410px;">
                                <option value="4">4 часа - время мин. заказа авто</option>
                                <option value="5">5 часа</option>
                                <option value="6">6 часов</option>
                                <option value="7">7 часов</option>
                                <option value="8">8 часов</option>
                                <option value="9">9 часов</option>
                                <option value="10">10 часов</option>                          
                            </select>
                </p>

                <p>
                    <label class="strong">Нужны ли вам услуги грузчиков?</label>
                </p>
                <p id="grinputsbox">
                    <label class="radio"><input type="radio" name="gr" value="0" checked="checked">Нет</label>
                    <label class="radio"><input type="radio" name="gr" value="1">1 грузчик </label>
                    <label class="radio"><input type="radio" name="gr" value="2">2 грузчика </label>
                    <label class="radio"><input type="radio" name="gr" value="3">3 грузчика </label>
                    <label class="radio"><input type="radio" name="gr" value="4">4 и более грузчиков </label>
                </p>

                <p style="display: none;" id="grtimepicker">
                        <label class="strong"></label>
                        <select name="grhidden" id="grhidden" style="width:410px;">
                            <option value="4 часа">Время работы грузчика (4 часа мин. заказ)</option>
                            <option value="5 часов">5 часов</option>
                            <option value="6 часов">6 часов</option>
                            <option value="7 часов">7 часов</option>
                            <option value="8 часов">8 часов</option>
                            <option value="9 часов">9 часов</option>
                            <option value="10 и более часов">10 и более часов</option>       
                        </select>
                </p>

    </div>
{% endblock %}


