{% block calc %}

<a href="http://www.sferatrans.ru/calc/" class="calc hasTip" onclick="yaCounter25323134.reachGoal(&#39;calccol&#39;); return true;">
                        Калькулятор<br>
                        стоимости услуг

                    </a>
      <div class="box">
        <div class="tabs">
          <ul class="tabs-head nc">
                                <li><a href="#tips">Отзывы</a></li>
                                <li><a href="#faq">Вопрос-ответ</a></li>
          </ul>
          <div id="faq" style="display: none;">
<p><a href="http://www.sferatrans.ru/voprosy/minimalnaya-stoimost-10-tonnika-dlya-perevozki-po-moskve/">Какова минимальная стоимость заказа 10-тонника для перевозки по Москве?</a></p>
<p><a href="http://www.sferatrans.ru/voprosy/kakoj-gruz-yavlyaetsya-negabaritnym/">Какой груз является негабаритным?</a></p>
<p><a href="http://www.sferatrans.ru/voprosy/pereezd-pod-kljuch-otlichiya/">Чем «переезд под ключ» отличается от обычного переезда?</a></p>
<p><a href="http://www.sferatrans.ru/voprosy/prigorodnye-gruzoperevozki/">Занимаетесь ли вы пригородными грузоперевозками? </a></p>
<p><a href="http://www.sferatrans.ru/voprosy/chto-takoe-ekspedirovanie/">Что такое экспедирование?</a></p>
          </div>
          <div id="tips" style="display: block;">
<div class="review">
                                    <p class="name">Олег Феоктистов, руководитель фирмы недвижимости, 12  декабря  2014</p>
                                    <p class="vote"><a href="javascript:;" class="plus otzyv_up" data-oid="108">+9 </a><a href="javascript:;" data-oid="108" class="minus otzyv_down">-1 </a></p>
                                    <p><a href="http://www.sferatrans.ru/otzyvy/oleg-feoktistov-rukovoditel-firmy-nedvizhimosti/">Удивительно, но факт – с этой транспортной компанией не только можно...</a></p>
                                </div>
<div class="review">
                                    <p class="name">Милена, Москва, 4  августа  2014</p>
                                    <p class="vote"><a href="javascript:;" class="plus otzyv_up" data-oid="56">+10 </a><a href="javascript:;" data-oid="56" class="minus otzyv_down">-3 </a></p>
                                    <p><a href="http://www.sferatrans.ru/otzyvy/milena-moskva/">Если задумаетесь о переезде, то, не мешкая, обращайтесь...</a></p>
                                </div>
<div class="review">
                                    <p class="name">Никита Мартьянов, дизайнер, 21  января  2015</p>
                                    <p class="vote"><a href="javascript:;" class="plus otzyv_up" data-oid="118">+7 </a><a href="javascript:;" data-oid="118" class="minus otzyv_down">-2 </a></p>
                                    <p><a href="http://www.sferatrans.ru/otzyvy/nikita-martyanov-dizajner/">Про меня немногочисленные друзья и родные говорят «человек...</a></p>
                                </div>
          </div>
        </div>
      </div>  
        <div class="box">
                        <div class="h3"><a href="http://www.sferatrans.ru/novosti/">Новости</a></div>
<div class=" news">
            <p class="date">01  июня  2015</p>
            <p class="head"><a href="http://www.sferatrans.ru/novosti/2015-06-01/">Движение между Садовым кольцом и ТТК упорядочат</a></p>
            <p>Центр организации дорожного движения Москвы намерен улучшить транспортную ситуацию в столице. Ради этого разрабатывается масштабный проект...&nbsp;</p>
          </div>
<div class=" news">
            <p class="date">29  мая  2015</p>
            <p class="head"><a href="http://www.sferatrans.ru/novosti/2015-05-29/">«Росгосстрах» не может продавать полисы ОСАГО</a></p>
            <p>Одна из важных новостей недели, которая коснулась всех водителей, включая тех, кто перевозит грузы, доставляет мебель и т.д., - запрет на...&nbsp;</p>
          </div>
<div class=" news">
            <p class="date">28  мая  2015</p>
            <p class="head"><a href="http://www.sferatrans.ru/novosti/2015-05-28/">«Выделенка» появится на Звенигородском шоссе</a></p>
            <p>Водителям, включая сотрудников транспортной компании «СфераТранс», доставляющих грузы по Москве, стоит быть готовыми к тому, что...&nbsp;</p>
          </div>
        </div>
        <div class="box">
                        <div class="h3">Подписка на новости</div>
	        <p align="right">
            <label>Ваш e-mail:
              <input type="text" name="email" class="subscribeform required" id="mail">
            </label>
            </p>
<p id="subscribeform_err" align="right" style="display: none;"></p>
            <p align="right" id="subscribeform_result">
            <input name="" type="submit" class="button" id="subscribeform_go" value="Подписаться на рассылку!" onclick="yaCounter25323134.reachGoal(&#39;dist&#39;); return true;">
            </p>
                            <p>
                            </p>
        </div>

 {% endblock %}

